[% IF commit %]
  [% commit.time.set_time_zone('local').strftime(datetime_format) | html %]
([% INCLUDE includes/revision.tt revision = commit.revision, message = "${commit.message} -- ${commit.committer}", revision_prefix = 'r' %])
[% ELSE -%]
Never
[% END %]
