[% BLOCK nav_link %]
<li[% IF c.req.uri.match("^$uri") %] id="active"[% END %]><a href="[% uri | html %]">[% label | html %]</a></li>
[% END -%]

<ul id="nav">
[% FILTER indent('  ') %]
  [% IF timeline_uri %]
    [% INCLUDE nav_link uri = timeline_uri, label = 'Trac Timeline' %]
  [% END %]
[% END %]
</ul><!-- #nav -->
